* {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.navbar {
    margin: 30px 150px;
}

.navbar-brand {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: .25em;
}

.nav-link {
    font-weight: 300;
}

main {
    margin: 100px 150px;
}

h1 {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.main-content {
    padding-bottom: 100px;
}

footer {
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-row {
    margin: 0;
}

.text-muted {
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 2px;
}

.social {
    padding: 0 0 0 80px;
}

.social a {
    color: black;
}

i {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.hidden {
    display: none !important;
}

/* index.html */

#current-role {
    font-family: 'Lato', sans-serif;
    color: #666666;
    line-height: 1.3em;
    margin-bottom: 0.7em;
    font-size: 2rem;
}

#brand-statement {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.3em;
    margin-bottom: 0.7em;
    font-size: 1.3rem;
}

#profile-pic {
    height: 400px;
    width: 500px;
    margin-left: 60px;
}

#my-skills {
    text-align: right;
    margin: 1.3em 0.5em 1em;
    font-size: 1.8rem;
    line-height: 1.2em;
    font-weight: 200;
}

#bar-chart {
    height: 450px;
    position: relative;
    background-image: url("../Images/axis.png");
    background-repeat: no-repeat;
    background-size: 95% 100%;
    z-index: 2;
}

#axis {
    width: 8%;
    border: 0;
    border-right: lightgray solid 1px;
    height: 448px;
    background: white;
}

.label {
    font-size: 1rem;
    margin: -0.9em 0 103px 0;
    color: #666666;
    font-weight: normal;
}

#bar-chart li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.bar {
    font-weight: 400;
    margin: 0 2%;
    width: 13%;
    text-align: center;
    color: #FFF;
    position: relative;
    border: #BBB solid 1px;
    border-radius: 3px;
    vertical-align: bottom;
}

.percent {
    opacity: 0.3;
    position: absolute;
    bottom: 50px;
    font-size: 2.5rem;
    width: 100%;
    line-height: 1em;
}

.skill {
    position: absolute;
    bottom: 25px;
    margin: 0 auto;
    width: 100%;
}

.percent, .skill {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.percent span {
    font-size: 1rem;
    padding-left: 3px;
}

#blue {
    border-color: #00798c;
    background-color: #00798c;
    height: 95%;
    opacity: 1;
}

#red {
    border-color: #d1495b;
    background-color: #d1495b;
    height: 80%;
    opacity: 1;
}

#purple {
    border-color: #6c88c4;
    background-color: #6c88c4;
    height: 95%;
    opacity: 1;
}

#polaris {
    border-color: #003f34;
    background-color: #003f34;
    height: 75%;
    opacity: 1;
}

#pink {
    border-color: #f1b3be;
    background-color: #f1b3be;
    height: 70%;
    opacity: 1;
}

/* portfolio.html */

.project-nav {
    padding: 0 70px 15px 70px;
}

button.nav-link {
    background-color: transparent;
    border: none;
    outline:none;
}

button.nav-link:focus, button.nav-link:hover {
    background-color: #f5f5f5;
}

#all {
    overflow: hidden;
    margin-left: 25px;
}

.card {
    display: inline-block;
    position: relative;
    border: none;
    float: left;
}

.project-img {
    width: 350px;
    height: 350px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    padding: 20px;
    text-align: center;
}

.card:hover .overlay {
    opacity: 1;
}

.project-name {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: #f8f9fa;
}

.card:hover .project-name {
    top: 30%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

a.btn {
    left: 0;
}

.btns {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    white-space: nowrap;
}

a.deployed, a.repo {
    min-width: 35%;
    height: 20%;
    margin: 0 10px;
}

.card:hover .btns {
    bottom: 30%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #f8f9fa;
}

button:hover a {
    color: #212529;
}

/* contact.html */

header.row, #input {
    margin: 0 auto;
}

input {
    border: #CCC solid 1px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px 0px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

#message {
    padding-right: 0;
}

#validationTooltip02 {
    padding-top: 20px;
    padding-bottom: 95px;
}

.btn {
    position: relative;
    left: 90.75%;
}

@media screen and (max-width: 1199px) {
    #intro {
        text-align: center;
    }
    #profile-pic {
        margin: 0 auto;
        margin-top: 2em;
    }
    .percent {
        font-size: 2rem;
    }
    .skill {
        font-size: 14px;
    }
    #all {
        margin-left: 13px;
    }
    .project-img {
        height: 300px;
        width: 300px;
    }
    #message {
        padding-left: 0;
    }
    .btn {
        position: relative;
        left: 44.5%;
    }
    .text-muted, .social {
        text-align: center;
    }
    .text-muted {
        margin-bottom: 10px;
    }
    .social {
        padding: 0 30px 0 0;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        text-align: center;
    }
    #axis {
        box-sizing: unset;
        padding-right: 10px;
    }
    .btn {
        position: relative;
        left: 42.5%;
    }
    .project-nav {
        padding: 0 40px 15px 40px;
    }
    #all {
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    #skill-section, #about-hr {
        display: none;
    }
    .btn {
        position: relative;
        left: 39.5%;
    }
    .project-nav {
        padding: 0 20px 15px 20px;
    }
    #all {
        margin-left: 95px;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        margin: 30px 50px;
    }
    main {
        margin: 70px 0;
    }
    .row {
        margin: 0;
    }
    h1 {
        font-size: 1.6rem;
    }
    #current-role {
        font-size: 1.4rem;
    }
    #brand-statement {
        font-size: 1.2rem;
    }
    #profile-pic {
        width: 100%;
        height: 230px;
    }
    #intro-para, #intro-img {
        padding: 0 22px;
    }
    header {
        width: 90%;
        margin-left: 20px;
    }
    .project-nav {
        padding: 0 3px 15px 3px;
    }
    #all {
        margin-left: 23px;
    }
    .project-img {
        height: 300px;
        width: 300px;
    }
    form {
        padding: 0 8px;
    }
    #email {
        margin-top: 12px;
    }
    #message p {
        width: 92%;
        margin-left: 15px;
    }
    .btn {
        position: relative;
        left: 35%;
    }
}